.cell {

    height:40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 0;
    padding: 9px;
}

#status {

    font-size: large;
    color: red;
}

#tab {
        margin: 20px auto;
}

.place-game {

        text-align: center;

}

.white {
    color: white;
}