<!DOCTYPE html>
<html lang="en" ng-app="mymodule">
<head>
    <meta charset="UTF-8">
    <title>MineSweeper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="appstyle.css" />

    <style>
        .ng-cloak {
            display: none;
        }

    </style>
</head>
<body>

<div ng-if="false">
    LOADING....
</div>

<div id="foo" class="container ng-cloak">
    <h1>MineSweeper</h1>
    <div ng-controller="CalcController" class="place-game">
        <input type="number" ng-model="col" ng-init="col=6;">
        <button ng-click="btnCreate(col)"ng-init="point=0;status=''">New Game</button>
        <br/>
        <br/>
        Results: {{point}}
        <br/>
        <p id="status">{{status}}</p>
        <br/><br/>
        <table>
            <tbody>
                <tr ng-repeat="row in board" ng-init="x=$index">
                    <td class="cell btn {{cell.class}}" ng-repeat="cell in row"
                        ng-click="btnClick(findex)" ng-init="findex={x:x, y:$index};">
                        <i class="{{cell.value}}">{{cell.counter}}</i>
                    </td>
                </tr>

            </tbody>
        </table>
    <!--<div id="win" class="alert alert-success collapse" role="alert">-->
        <!--<button type="button" class="close" onclick="closeMessage()" >-->
            <!--<span>OK</span>-->
        <!--</button>-->
        <!--<p align="center"><strong></strong></p>-->
    <!--</div>-->
    <!--</div>-->


</div>
<script src="angular.js"></script>
<script src="app.js"></script>
</body>
</html>